* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    display: flex;
    flex-direction: column;
}

.col1 {
    background: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}
.logo {
    font-size: 24px;
    color: white;
    flex-basis: 30%;         
}
.links {
    flex-basis: 30%;
}

.col2 {
    display: flex;
    background: #1f2937;
    justify-content: space-around;
    padding-bottom: 60px;
    padding-top: 60px;
    align-items: center;
        
}

.lefttext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 30%;
    justify-content: space-between;
    color: white;
    gap: 30px;
     
}


.leftext1 {
    font-size: 30px;
    color: white;
    font-weight: 900;    
}

.image {
    flex-basis: 30%;    
}

.button {
    background: #3882F6;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

img {
    height: max-content;
}

